<div class="container">
    <div class="row">
        <h3 class="text-center">{{pageTitle}}</h3>
    </div>
    <div class="row">
        <div class="col-sm-3"  *ngFor='let prod of cartProducts'>
            <div class="card" style="height: 250px;
            width: 230px;">
                <div class="card-header">
              <img class="card-img-top" [src] ='prod.imageUrl'  alt="Card image cap" style="height:50px;width:50px"/>
                </div>
              <div class="card-body">
                <a>{{prod.productName}}</a>
                <p class="card-text text-left">Price: {{prod.price | currency: 'USD':'symbol':'1.2-2'}}</p>
                <a class="btn btn-primary" (click)="removeItem(prod)">Remove Item</a>
              </div>
            </div>
          </div>
    </div>
    <div class="row border-top total">
        <h4>Total: {{ total | currency: 'USD':'symbol':'1.2-2' }}</h4>
    </div>
</div>


