<div class="container">
  <div class="row" style="margin: 16px 0;">
    <h4 class="text-center">{{title}}  </h4>
    <button type="button" class="btn btn-link" (click)="onImgBtnClick()">{{imageBtnFlag ? 'Hide' : 'Show'}} Images</button>
  </div>
  <div class="container">
    <div class="row">
      <label style="padding-right: 16px;">Search:</label>
      <input type="search" placeholder="Search" [(ngModel)]="searchInput" />
    </div>
    <div class="row" style="margin: 16px 0;">
      Search Results for {{ searchInput ? searchInput : 'All' }} :
    </div>
  </div>
  <div class="row">
    {{errorMessage}}
    <div class="col-sm-3" *ngFor='let prod of searchedProducts'>

      <div class="card" style="height: 250px;
    width: 230px;">
        <div class="card-header">
          <img class="card-img-top" [src]='prod.imageUrl' *ngIf="imageBtnFlag" alt="Card image cap"
            style="height:50px;width:50px" />
        </div>
        <div class="card-body">
          <a [routerLink]="['/products', prod.id]">{{prod.productName}}</a>
          <!-- <p class="card-text text-left">Code: {{prod.productCode | lowercase | convertToSpacePipe: '-'}}</p>
        <p class="card-text text-left">Release Date: {{prod.releaseDate}}</p> -->
          <p class="card-text text-center card-margins">Price: {{prod.price | currency: 'USD':'symbol':'1.2-2'}}</p>
          <pm-star [rating]='prod.starRating' (notify)='OnRatingClicked($event)'></pm-star>
          <button class="btn btn-primary" style="margin-top: 8px" (click)="addToCart(prod)">Add To Cart</button>
          <!-- <p class="card-text text-center card-margins" style="color: red" *ngIf="apiError">{{cartError}}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>